* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    height: 450px;
    width: 50%;
    background-color: #edbcbc;
    border: 1px solid red;
    border-radius: 25px;
    margin: 5% 25%
}

main h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
    position: relative;
}

main p {
    text-align: center;
    position: relative;
    margin: 5% 25%
}

#go {
    text-align: center;
    position: relative;
    margin: 0% 45%;
    width:fit-content;
}

header {
    text-align: center;
}

#timer {
    display: none;
}

#results {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 5%;
    font-style: italic;
}

#view-scores {
    text-align: center;
    position: relative;
    margin-top: 5%;
}

#endpage {
    height: 400px;
    width: 50%;
    background-color: #cbbced;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin: 5% 25%;
    text-align: center;
}

#scores {
    list-style: none;
}

#submit-button {
    margin-top: 2%;
    margin-bottom: 5%;
}
