* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    height: 400px;
    width: 50%;
    background-color: #edbcbc;
    border: 1px solid red;
    border-radius: 5%;
    margin: 5% 25%
}

main h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
    position: relative;
}

main p {
    text-align: center;
    position: relative;
    margin: 5% 25%
}

#go {
    text-align: center;
    position: relative;
    margin: 0% 45%;
    width:fit-content;
    border: 1px solid red;
}

header {
    text-align: center;
    visibility: hidden;
}